@import url('bootstrap.min.css');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans|Roboto');
.bg-orange {
    background: rgb(20, 61, 97);
    color: #fff;
}
.nav-link
{
    color: #fff !important;
    transition: all 0.5s;
    padding: 10px 15px !important;
}
.nav-link:hover
{
    color: #fff !important;
    background: #0379B7;
    border-radius: 5px;
}
.quotes-title a
{
    display: inline-block !important;
}
.author
{
    width: calc(100% - 70px);
}
.quotes-body {
    box-shadow: 1px 1px 8px 1px #2196f3;
    border-radius: 9px;
    padding: 15px;
}
.quotes-text
{
    font-family: 'Montserrat';
    font-size: 24px;
    text-align: justify;
}
.quotes-author
{
    font-family: 'Roboto';
}
.grid:after {
    content: '';
    display: block;
    clear: both;
}
.divider
{
    margin: 10px 0 !important;
}
.explore-title
{
    font-family: 'Lato';
}
.card
{
    margin-bottom: 15px !important;
}
.card-body
{
    font-family: 'Open Sans';
}
.card-social{
    margin-top: 15px;
}
.card-social a i
{
    margin-right: 10px;
    transition: all 0.5s;
}
.card-social a i.fa-facebook-square
{
    color: #3b5998 !important;
}
.card-social a i.fa-facebook-square:hover
{
    color: #0084ff !important;
}
.card-social .fa-twitter-square
{
    color: #55acee;
}
.card-social .fa-twitter-square:hover
{
    color: #0077b5;
}
.card-social .fa-envelope
{
    color: #517fa4;
}
.card-social .fa-envelope:hover
{
    color: #16b5ff;
}
.tags a
{
    padding: 5px 10px;
    background: #2196f3;
    color: rgb(245, 251, 252);
    border-radius: 3px;
    font-weight: 600;
    transition: all 0.4s;
    margin: 0 5px;
    font-family: 'Montserrat';
}
.tags a:hover {
    text-decoration: none !important;
    background: rgb(53, 134, 172);
    color: #fff;
}

@media (max-width: 575.98px) { 
    .grid-item {
        width: 24%;
        float: left;
    }
 }

@media (min-width: 576px) and (max-width: 767.98px) { 
    .grid-item {
        width: 24%;
        float: left;
    }
 }

@media (min-width: 768px) and (max-width: 991.98px) { 
    .grid-item {
        width: 24%;
        float: left;
    }
    .explore-title::before {
        content: " ";
        width: 180px;
        height: 2px;
        background: #60BBCA;
        position: absolute;
        top: 30px;
        left: 15px;
    }
    .explore-title::after {
        content: " ";
        width: 180px;
        height: 2px;
        background: #60BBCA;
        position: absolute;
        top: 30px;
        right: 15px;
    }
 }

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .grid-item {
        width: 24%;
        float: left;
    }
    .explore-title::before {
        content: " ";
        width: 280px;
        height: 2px;
        background: #60BBCA;
        position: absolute;
        top: 30px;
        left: 15px;
    }
    .explore-title::after {
        content: " ";
        width: 280px;
        height: 2px;
        background: #60BBCA;
        position: absolute;
        top: 30px;
        right: 15px;
    }
 }

@media (min-width: 1200px) { 
    .grid-item {
        width: 24%;
        float: left;
    }
    .explore-title::before {
        content: " ";
        width: 380px;
        height: 2px;
        background: #60BBCA;
        position: absolute;
        top: 30px;
        left: 15px;
    }
    .explore-title::after {
        content: " ";
        width: 380px;
        height: 2px;
        background: #60BBCA;
        position: absolute;
        top: 30px;
        right: 15px;
    }
 }
 #footer
 {
     background: #0b2a20;
     color: #fff;
     margin-top: 80px;
 }
 #footer .social>p:nth-child(2){
    margin-top: 3rem !important;
 }
 #footer img {
    position: absolute;
    top: -72px;
}
#footer .title
{
    font-size: 25px;
    font-family: 'Lato';
    color: rgb(99, 165, 224) !important;
}
#footer ul
{
    margin: 0;
    padding: 0;
}
#footer ul li
{
    margin: 0;
    list-style: none;
}
#footer ul li a
{
    color: #fff !important;
}
#footer .copyright
{
    background: rgb(20, 61, 97);
    padding: 20px 0;
    margin-top: 10px;
}